.margin-left{
    margin-left: 13px;
}
.magin-right{
    margin-right: 13px;
}
.margin-top{
    margin-top: 20px;
}
.display-none{
  padding-left: 12px;
}
.list-margin{
    margin-bottom: 12px;
}

.full-width{
    width: 100%;
}
.width22{
    width: 22%;
}
.width44{
    width: 44%;
}